<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {#<link rel="stylesheet" href="style.css" />#}
    <title>{% block title %}{% endblock %} Market</title>
    <table style="width:100%">
        <tr>
            <th colspan="3"><a href="/"><h2>М Маркет</h2></a></th>
            <th colspan="5" ><input type="text" placeholder=""><button>Найти</button></th>
            <th><a href="/my_town/">Москва</a></th>
            <th><a href="/favorits/">Отложенные</a></th>
            <th><a href="/compare/">Сравнение</a></th>
            <th><a href="/cart/">Корзина</a></th>
            <th><a href="/login/">Войти</a></th>
        </tr>
    </table>
    <hr />
    <table>
        <tr>
            {% for p_type in product_types: %}
            <td>{{ p_type.name }}</td>
            {% endfor %}
        </tr>
    </table>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>
